<a href="https://colab.research.google.com/github/mazette04/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Fundamentals of Python

Python Indentation

In [3]:
if 5>2:
  print("Yes")

Yes

Python Comments

In [4]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [17]:
x = "Sally"

a = 0
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)
print(a,b,c)

Sally
0
1
2
0 1 2

Casting

In [9]:
d = 4
d = int(4)
print(d)

4

Type () function

In [10]:
d = 4
d = int(4)
print(type(d))

<class 'int'>

Double quotes and single quotes

In [14]:
#y = "Ana"
#print(y)

y = 'Ana'
Y = "Robert"
print(y)
print(Y)

Ana
Robert

Multiple Variables with one value

In [21]:
#x = "Tony"
k=l=m="four"
print(k)
print(l)
print(m)
print(k,l,m)

four
four
four
four four four

Output Variable

In [28]:
print('Python programming is enjoying')

h = "enjoying"
p= "Python programming is"
print("Python programming is" + h)
print(p+" " + " " +h)

Python programming is enjoying
Python programming isenjoying
Python programming is  enjoying

Arithmetic Operations

In [37]:
print(c+d)   # c = 2, d = 4
print(d-c)
print(d*c)
print(int(d/c))
print(d%c)
print(3//2)    # 1.50
print(d**c)

6
2
8
2
0
1
16

Assignment Operators

In [40]:
q=10
q+=5 # same as q=q+5

print(q)    #same as q = q+5,  q = 10+5=15

15

Boolean logic

In [42]:
s = 10
print(s^2)
print(s|2)

8
10

Comparison Operators

In [46]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

Logical Operators

In [51]:
s>q and s==s  #False
s>q or s==s  #True

print(s>q and s==s)
print(s>q or s==s)

False
True

Identity Operators

In [53]:
s is q
print(s is not q)

True

Bitwise Operator Shift right/left

In [63]:
u=2 # 0001
print(u<<1)

g = 10
print(g<<1)

4
20